<footer>

<ul>
        <li><a href="#">SupInfo Team </a></li>
        <li><a href="#">QA/Help</a></li>
        <li><a href="#">SUP BANK</a></li>
            <br> 
            <li>
            <p style="color:white">
            &copy; <i >Wael Chorfan - 2019 - All Rights Reserved</i></p> </li>
    </ul>

    </footer>