<footer>

        <ul>
                <li><a href="https://www.youtube.com/watch?v=-_1NQUMSm_0"  target=”_blank” style="color:grey">SupInfo Team </a></li>
               
                <li><a href="/" style="color:grey">SUP BANK</a></li>
                <br>
                <li>
                        <p style="color:white">
                                &copy; <i style="color:white ;display: inline;">SupBank - All Rights Reserved
                                        <p style="display: inline;color:white" id="year"></p>
                                </i>
                </li>
        </ul>

      


</footer>